.layout {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.spinner {
    width: 100%;
    max-width: 4rem;
    margin: 20px auto;
    display: block;
}


.card {
    max-width: 300px;
}

.episodes {
    flex: 1;
}
