.spinner {
	width: 100%;
	max-width: 4rem;
	margin: 20px auto;
	display: block;
}

.filter {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	gap: 1rem;
	margin-bottom: 5rem;
}

.badge {
	background-color: var(--color-main);
	color: white;
	padding: 5px 10px;
	border-radius: 0.75rem;
	font-size: 0.8rem;
}

.input {
	font-size: 0.8rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 20%));
	column-gap: 1.5rem;
	row-gap: 5rem;
	justify-content: center;
}
